<div data-api-content>
  {%- render 'product-title-price', product: product, block: block, section: section -%}

  {%- render 'product-form', product: product, block: block, section: section, enable_popup_trigger: true -%}
</div>
